extends ../private

block content
    .container
        .col-lg-6.col-lg-offset-3
            .panel.panel-default
                .panel-heading
                    h2 Add Worker
                .panel-body
                    form(method='POST')
                        if (errors)
                            .alert.alert-danger
                                each error in errors
                                    p= error
                        .form-group
                            label Name
                            input.form-control(name="name", value=model.name)
                        .form-group
                            label Description
                            textarea.form-control(name="description")= model.description
                        .form-group
                            input.form-control.btn.btn-primary(name="submit", type="submit")

