extends ../private

block content
    .container
        h1 Workers
        p
            a.btn.btn-primary(href='add') Add Worker
        if workers
            table.table.table-bordered
                thead
                    tr
                        th ID
                        th Name
                        th Secret
                        th
                tbody
                    each worker in workers
                        tr
                            td= worker.id
                            td= worker.name
                            td= worker.secret
                            td
                                .btn-group
                                    a.btn.btn-default(href='secret/'+worker.id) Update Secret
                                    a.btn.btn-default(href='edit/'+worker.id) Edit
                                    a.btn.btn-default(href='delete/'+worker.id, onclick='return confirm("Are you sure ?");') Delete