extends ../layout

block content
    .col-lg-4.col-lg-offset-4
        .panel.panel-default
            .panel-heading
                h2 Login
            .panel-body
                form(method='POST')
                    if (error)
                        .alert.alert-danger= error
                    .form-group
                        label Email
                        input.form-control(name='email', value=body.email)
                    .form-group
                        label Password
                        input.form-control(name='password', type='password')
                    .form-group
                        input.btn.btn-primary.form-control(type='submit', value='Login', name='submit')