extends ../layout

block content
    .col-lg-4.col-lg-offset-4
        .panel.panel-default
            .panel-heading
                h2 Registration
            .panel-body
                form(method='POST')
                    if errors
                        .alert.alert-danger
                            each error in errors
                                p= error.msg
                    .form-group
                        label Email
                        input.form-control(name='email', value=body.email)
                    .form-group
                        label First Name
                        input.form-control(name='firstName', value=body.firstName)
                    .form-group
                        label Last Name
                        input.form-control(name='lastName', value=body.lastName)
                    .form-group
                        label Password
                        input.form-control(name='password', type='password')
                    .form-group
                        label Confirm Password
                        input.form-control(name='confirmPassword', type='password')
                    .form-group
                        input.btn.btn-primary.form-control(type='submit', value='Register', name='submit')
