extends ../private

block content
    .container
        h1 Clients
        p
            a.btn.btn-primary(href='add') Add Client
        if clients
            table.table.table-bordered
                thead
                    tr
                        th ID
                        th Name
                        th Secret
                        th
                tbody
                    each client in clients
                        tr
                            td= client.id
                            td= client.name
                            td= client.secret
                            td
                                .btn-group
                                    a.btn.btn-default(href='secret/'+client.id) Update Secret
                                    a.btn.btn-default(href='edit/'+client.id) Edit
                                    a.btn.btn-default(href='delete/'+client.id, onclick='return confirm("Are you sure ?");') Delete